/* You can add global styles to this file, and also import other style files */

button {
  min-width: 80px;  
  font-size: 14px;
  text-align: center;
  padding: 6px 12px;
  cursor: pointer;
}

body {
  font-family: 'Roboto';
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input {
  font-size: 14px;
}